In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
renewable_share_energy = pd.read_csv('DATAS/01 renewable-share-energy.csv')
modern_renewable_consumption = pd.read_csv('DATAS/02 modern-renewable-energy-consumption.csv')
modern_renewable_production = pd.read_csv('DATAS/03 modern-renewable-prod.csv')
share_electricity_renewables = pd.read_csv('DATAS/04 share-electricity-renewables.csv')
hydropower_consumption = pd.read_csv('DATAS/05 hydropower-consumption.csv')
hydro_share_energy = pd.read_csv('DATAS/06 hydro-share-energy.csv')
share_electricity_hydro = pd.read_csv('DATAS/07 share-electricity-hydro.csv')
wind_generation = pd.read_csv('DATAS/08 wind-generation.csv')
cumulative_installed_wind_capacity = pd.read_csv('DATAS/09 cumulative-installed-wind-energy-capacity-gigawatts.csv')
wind_share_energy = pd.read_csv('DATAS/10 wind-share-energy.csv')
share_electricity_wind = pd.read_csv('DATAS/11 share-electricity-wind.csv')
solar_energy_consumption = pd.read_csv('DATAS/12 solar-energy-consumption.csv')
installed_solar_PV_capacity = pd.read_csv('DATAS/13 installed-solar-PV-capacity.csv')
solar_share_energy = pd.read_csv('DATAS/14 solar-share-energy.csv')
share_electricity_solar = pd.read_csv('DATAS/15 share-electricity-solar.csv')
biofuel_production = pd.read_csv('DATAS/16 biofuel-production.csv')
geotermal_capacity = pd.read_csv('DATAS/17 installed-geothermal-capacity.csv')

In [3]:
print("First few rows of renewable_share_energy:")
print(renewable_share_energy.head(15))

First few rows of renewable_share_energy:
    Entity Code  Year  Renewables (% equivalent primary energy)
0   Africa  NaN  1965                                  5.747495
1   Africa  NaN  1966                                  6.122062
2   Africa  NaN  1967                                  6.325731
3   Africa  NaN  1968                                  7.005293
4   Africa  NaN  1969                                  7.956088
5   Africa  NaN  1970                                  9.162060
6   Africa  NaN  1971                                  8.131308
7   Africa  NaN  1972                                  8.747766
8   Africa  NaN  1973                                  8.542279
9   Africa  NaN  1974                                  9.268067
10  Africa  NaN  1975                                  9.238402
11  Africa  NaN  1976                                  9.416414
12  Africa  NaN  1977                                  9.803299
13  Africa  NaN  1978                                  9.519681
14  Africa  NaN  1979                                  9.350928

In [4]:
print("\nInfo about renewable_share_energy:")
print(renewable_share_energy.info())

Info about renewable_share_energy:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5603 entries, 0 to 5602
Data columns (total 4 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Entity                                    5603 non-null   object
 1   Code                                      4292 non-null   object
 2   Year                                      5603 non-null   int64
 3   Renewables (% equivalent primary energy)  5603 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 175.2+ KB
None

In [5]:

print("\nBasic statistics of renewable_share_energy:")
print(renewable_share_energy.describe())

Basic statistics of renewable_share_energy:
              Year  Renewables (% equivalent primary energy)
count  5603.000000                               5603.000000
mean   1993.800821                                 10.735585
std      16.283556                                 12.923945
min    1965.000000                                  0.000000
25%    1980.000000                                  1.980135
50%    1994.000000                                  6.522184
75%    2008.000000                                 14.099622
max    2021.000000                                 86.874535

In [6]:
print("\nBasic statistics of renewable_share_energy:")
print(renewable_share_energy.columns)

Basic statistics of renewable_share_energy:
Index(['Entity', 'Code', 'Year', 'Renewables (% equivalent primary energy)'], dtype='object')

In [7]:

print(renewable_share_energy.isnull().sum())
renewable_share_energy = renewable_share_energy.dropna()

Entity                                         0
Code                                        1311
Year                                           0
Renewables (% equivalent primary energy)       0
dtype: int64

In [8]:
print(renewable_share_energy.dtypes)

Entity                                       object
Code                                         object
Year                                          int64
Renewables (% equivalent primary energy)    float64
dtype: object

In [9]:
from click import style


sns.set(style="whitegrid")

In [10]:
renewable_share_energy.rename(columns={'Renewables (% equivalent primary energy)': 'Renewables_percent'}, inplace=True)

In [11]:
# Explore modern_renewable_consumption data
print("\nFirst few rows of modern_renewable_consumption:")
print(modern_renewable_consumption.head())

First few rows of modern_renewable_consumption:
   Entity Code  Year  Geo Biomass Other - TWh  Solar Generation - TWh  \
0  Africa  NaN  1971                    0.164                     0.0
1  Africa  NaN  1972                    0.165                     0.0
2  Africa  NaN  1973                    0.170                     0.0
3  Africa  NaN  1974                    0.175                     0.0
4  Africa  NaN  1975                    0.172                     0.0

   Wind Generation - TWh  Hydro Generation - TWh
0                    0.0               26.013390
1                    0.0               29.633196
2                    0.0               31.345707
3                    0.0               35.667076
4                    0.0               37.717968

In [12]:
print("\nInfo about modern_renewable_consumption:")
print(modern_renewable_consumption.info())

Info about modern_renewable_consumption:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5610 entries, 0 to 5609
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Entity                   5610 non-null   object
 1   Code                     4299 non-null   object
 2   Year                     5610 non-null   int64
 3   Geo Biomass Other - TWh  5466 non-null   float64
 4   Solar Generation - TWh   5442 non-null   float64
 5   Wind Generation - TWh    5445 non-null   float64
 6   Hydro Generation - TWh   5603 non-null   float64
dtypes: float64(4), int64(1), object(2)
memory usage: 306.9+ KB
None

In [13]:
print("\nBasic statistics of modern_renewable_consumption:")
print(modern_renewable_consumption.describe())

Basic statistics of modern_renewable_consumption:
              Year  Geo Biomass Other - TWh  Solar Generation - TWh  \
count  5610.000000              5466.000000             5442.000000
mean   1993.834759                13.455595                5.480776
std      16.301699                47.644151               39.895114
min    1965.000000                 0.000000                0.000000
25%    1980.000000                 0.000000                0.000000
50%    1994.000000                 0.227000                0.000000
75%    2008.000000                 4.270843                0.017030
max    2021.000000               762.782650             1032.501200

       Wind Generation - TWh  Hydro Generation - TWh
count            5445.000000             5603.000000
mean               15.027906              147.892846
std                84.727689              390.187379
min                 0.000000                0.000000
25%                 0.000000                1.368538
50%                 0.000000               10.693000
75%                 0.276075               65.841800
max              1861.939800             4345.990000

In [14]:
print("\nBasic statistics of modern_renewable_consumption:")
print(modern_renewable_consumption.columns)

Basic statistics of modern_renewable_consumption:
Index(['Entity', 'Code', 'Year', 'Geo Biomass Other - TWh',
       'Solar Generation - TWh', 'Wind Generation - TWh',
       'Hydro Generation - TWh'],
      dtype='object')

In [15]:
print(modern_renewable_consumption.isnull().sum())
modern_renewable_consumption = modern_renewable_consumption.dropna()

Entity                        0
Code                       1311
Year                          0
Geo Biomass Other - TWh     144
Solar Generation - TWh      168
Wind Generation - TWh       165
Hydro Generation - TWh        7
dtype: int64

In [16]:
print(modern_renewable_consumption.dtypes)

Entity                      object
Code                        object
Year                         int64
Geo Biomass Other - TWh    float64
Solar Generation - TWh     float64
Wind Generation - TWh      float64
Hydro Generation - TWh     float64
dtype: object

In [17]:
# Explore modern_renewable_production data
print("\nFirst few rows of modern_renewable_production:")
print(modern_renewable_production.head())

First few rows of modern_renewable_production:
        Entity Code  Year  Electricity from wind (TWh)  \
0  Afghanistan  AFG  2000                          0.0
1  Afghanistan  AFG  2001                          0.0
2  Afghanistan  AFG  2002                          0.0
3  Afghanistan  AFG  2003                          0.0
4  Afghanistan  AFG  2004                          0.0

   Electricity from hydro (TWh)  Electricity from solar (TWh)  \
0                          0.31                           0.0
1                          0.50                           0.0
2                          0.56                           0.0
3                          0.63                           0.0
4                          0.56                           0.0

   Other renewables including bioenergy (TWh)
0                                         0.0
1                                         0.0
2                                         0.0
3                                         0.0
4                                         0.0

In [18]:
print("\nInfo about modern_renewable_production:")
print(modern_renewable_production.info())

Info about modern_renewable_production:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8851 entries, 0 to 8850
Data columns (total 7 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Entity                                      8851 non-null   object
 1   Code                                        7296 non-null   object
 2   Year                                        8851 non-null   int64
 3   Electricity from wind (TWh)                 8676 non-null   float64
 4   Electricity from hydro (TWh)                8840 non-null   float64
 5   Electricity from solar (TWh)                8683 non-null   float64
 6   Other renewables including bioenergy (TWh)  8631 non-null   float64
dtypes: float64(4), int64(1), object(2)
memory usage: 484.2+ KB
None

In [19]:
print("\nBasic statistics of modern_renewable_production:")
print(modern_renewable_production.describe())

Basic statistics of modern_renewable_production:
              Year  Electricity from wind (TWh)  Electricity from hydro (TWh)  \
count  8851.000000                  8676.000000                   8840.000000
mean   1999.912665                    14.571142                    116.578505
std      15.751623                    86.388161                    360.230480
min    1965.000000                     0.000000                      0.000000
25%    1988.000000                     0.000000                      0.090000
50%    2004.000000                     0.000000                      3.525500
75%    2013.000000                     0.059000                     30.067500
max    2022.000000                  1848.260000                   4340.610000

       Electricity from solar (TWh)  \
count                   8683.000000
mean                       5.277942
std                       40.098862
min                        0.000000
25%                        0.000000
50%                        0.000000
75%                        0.010000
max                     1040.500000

       Other renewables including bioenergy (TWh)
count                                  8631.00000
mean                                     12.24002
std                                      48.35120
min                                       0.00000
25%                                       0.00000
50%                                       0.02000
75%                                       1.61000
max                                     761.93005

In [20]:

print("\nBasic statistics of modern_renewable_production:")
print(modern_renewable_production.columns)

Basic statistics of modern_renewable_production:
Index(['Entity', 'Code', 'Year', 'Electricity from wind (TWh)',
       'Electricity from hydro (TWh)', 'Electricity from solar (TWh)',
       'Other renewables including bioenergy (TWh)'],
      dtype='object')

In [21]:
print(modern_renewable_production.isnull().sum())

modern_renewable_production = modern_renewable_production.dropna()

Entity                                           0
Code                                          1555
Year                                             0
Electricity from wind (TWh)                    175
Electricity from hydro (TWh)                    11
Electricity from solar (TWh)                   168
Other renewables including bioenergy (TWh)     220
dtype: int64

In [22]:
print(modern_renewable_production.dtypes)

Entity                                         object
Code                                           object
Year                                            int64
Electricity from wind (TWh)                   float64
Electricity from hydro (TWh)                  float64
Electricity from solar (TWh)                  float64
Other renewables including bioenergy (TWh)    float64
dtype: object

In [23]:
# Explore share_electricity_renewables data
print("\nFirst few rows of share_electricity_renewables:")
print(share_electricity_renewables.head())

First few rows of share_electricity_renewables:
        Entity Code  Year  Renewables (% electricity)
0  Afghanistan  AFG  2000                   65.957440
1  Afghanistan  AFG  2001                   84.745766
2  Afghanistan  AFG  2002                   81.159424
3  Afghanistan  AFG  2003                   67.021280
4  Afghanistan  AFG  2004                   62.921350

In [24]:
print("\nInfo about share_electricity_renewables:")
print(share_electricity_renewables.info())

Info about share_electricity_renewables:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6871 entries, 0 to 6870
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Entity                      6871 non-null   object
 1   Code                        5781 non-null   object
 2   Year                        6871 non-null   int64
 3   Renewables (% electricity)  6871 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 214.8+ KB
None

In [25]:
print("\nBasic statistics of share_electricity_renewables:")
print(share_electricity_renewables.describe())

Basic statistics of share_electricity_renewables:
              Year  Renewables (% electricity)
count  6871.000000                 6871.000000
mean   2006.532091                   30.103262
std       9.626237                   30.808484
min    1985.000000                    0.000000
25%    2000.000000                    3.552926
50%    2007.000000                   18.374070
75%    2014.000000                   51.874399
max    2022.000000                  100.000015

In [26]:
print("\nBasic statistics of share_electricity_renewables:")
print(share_electricity_renewables.columns)

Basic statistics of share_electricity_renewables:
Index(['Entity', 'Code', 'Year', 'Renewables (% electricity)'], dtype='object')

In [27]:
print(share_electricity_renewables.isnull().sum())

share_electricity_renewables = share_electricity_renewables.dropna()

Entity                           0
Code                          1090
Year                             0
Renewables (% electricity)       0
dtype: int64

In [28]:
print(share_electricity_renewables.dtypes)

Entity                         object
Code                           object
Year                            int64
Renewables (% electricity)    float64
dtype: object

In [29]:
# Explore hydropower_consumption data
print("\nFirst few rows of hydropower_consumption:")
print(hydropower_consumption.head())

First few rows of hydropower_consumption:
        Entity Code  Year  Electricity from hydro (TWh)
0  Afghanistan  AFG  2000                          0.31
1  Afghanistan  AFG  2001                          0.50
2  Afghanistan  AFG  2002                          0.56
3  Afghanistan  AFG  2003                          0.63
4  Afghanistan  AFG  2004                          0.56

In [30]:
print("\nInfo about hydropower_consumption:")
print(hydropower_consumption.info())

Info about hydropower_consumption:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8840 entries, 0 to 8839
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Entity                        8840 non-null   object
 1   Code                          7285 non-null   object
 2   Year                          8840 non-null   int64
 3   Electricity from hydro (TWh)  8840 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 276.4+ KB
None

In [31]:
print("\nBasic statistics of hydropower_consumption:")
print(hydropower_consumption.describe())

Basic statistics of hydropower_consumption:
              Year  Electricity from hydro (TWh)
count  8840.000000                   8840.000000
mean   1999.891516                    116.578505
std      15.749636                    360.230480
min    1965.000000                      0.000000
25%    1988.000000                      0.090000
50%    2004.000000                      3.525500
75%    2013.000000                     30.067500
max    2022.000000                   4340.610000

In [32]:
print("\nBasic statistics of hydropower_consumption:")
print(hydropower_consumption.columns)

Basic statistics of hydropower_consumption:
Index(['Entity', 'Code', 'Year', 'Electricity from hydro (TWh)'], dtype='object')

In [33]:
print(hydropower_consumption.isnull().sum())

hydropower_consumption = hydropower_consumption.dropna()

Entity                             0
Code                            1555
Year                               0
Electricity from hydro (TWh)       0
dtype: int64

In [34]:
print(hydropower_consumption.dtypes)

Entity                           object
Code                             object
Year                              int64
Electricity from hydro (TWh)    float64
dtype: object

In [35]:
# Explore hydro_share_energy data
print("First few rows of hydro_share_energy:")
print(hydro_share_energy.head())

First few rows of hydro_share_energy:
   Entity Code  Year  Hydro (% equivalent primary energy)
0  Africa  NaN  1965                             5.747495
1  Africa  NaN  1966                             6.122062
2  Africa  NaN  1967                             6.325731
3  Africa  NaN  1968                             7.005293
4  Africa  NaN  1969                             7.956088

In [36]:
print("\nInfo about hydro_share_energy:")
print(hydro_share_energy.info())

Info about hydro_share_energy:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5603 entries, 0 to 5602
Data columns (total 4 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Entity                               5603 non-null   object
 1   Code                                 4292 non-null   object
 2   Year                                 5603 non-null   int64
 3   Hydro (% equivalent primary energy)  5603 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 175.2+ KB
None

In [37]:
print("\nBasic statistics of hydro_share_energy:")
print(hydro_share_energy.describe())

Basic statistics of hydro_share_energy:
              Year  Hydro (% equivalent primary energy)
count  5603.000000                          5603.000000
mean   1993.800821                             9.321855
std      16.283556                            11.947563
min    1965.000000                             0.000000
25%    1980.000000                             1.210476
50%    1994.000000                             5.561826
75%    2008.000000                            11.462906
max    2021.000000                            72.310486

In [38]:
print("\nBasic statistics of hydro_share_energy:")
print(hydro_share_energy.columns)

Basic statistics of hydro_share_energy:
Index(['Entity', 'Code', 'Year', 'Hydro (% equivalent primary energy)'], dtype='object')

In [39]:
print(hydro_share_energy.isnull().sum())

hydro_share_energy = hydro_share_energy.dropna()

Entity                                    0
Code                                   1311
Year                                      0
Hydro (% equivalent primary energy)       0
dtype: int64

In [40]:
print(hydro_share_energy.dtypes)

Entity                                  object
Code                                    object
Year                                     int64
Hydro (% equivalent primary energy)    float64
dtype: object

In [41]:
# Explore share_electricity_hydro data
print("First few rows of share_electricity_hydro:")
print(share_electricity_hydro.head())

First few rows of share_electricity_hydro:
        Entity Code  Year  Hydro (% electricity)
0  Afghanistan  AFG  2000              65.957440
1  Afghanistan  AFG  2001              84.745766
2  Afghanistan  AFG  2002              81.159424
3  Afghanistan  AFG  2003              67.021280
4  Afghanistan  AFG  2004              62.921350

In [42]:
print("\nInfo about share_electricity_hydro:")
print(share_electricity_hydro.info())

Info about share_electricity_hydro:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6925 entries, 0 to 6924
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Entity                 6925 non-null   object
 1   Code                   5830 non-null   object
 2   Year                   6925 non-null   int64
 3   Hydro (% electricity)  6925 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 216.5+ KB
None

In [43]:
print("\nBasic statistics of share_electricity_hydro:")
print(share_electricity_hydro.describe())

Basic statistics of share_electricity_hydro:
              Year  Hydro (% electricity)
count  6925.000000            6925.000000
mean   2006.374874              25.602426
std       9.743362              29.748258
min    1985.000000               0.000000
25%    2000.000000               0.518249
50%    2007.000000              13.937198
75%    2014.000000              43.217500
max    2022.000000             100.000010

In [44]:
print("\nBasic statistics of share_electricity_hydro:")
print(share_electricity_hydro.columns)

Basic statistics of share_electricity_hydro:
Index(['Entity', 'Code', 'Year', 'Hydro (% electricity)'], dtype='object')

In [45]:
print(share_electricity_hydro.isnull().sum())

share_electricity_hydro = share_electricity_hydro.dropna()

Entity                      0
Code                     1095
Year                        0
Hydro (% electricity)       0
dtype: int64

In [46]:
print(share_electricity_hydro.dtypes)

Entity                    object
Code                      object
Year                       int64
Hydro (% electricity)    float64
dtype: object

In [47]:
# Explore wind_generation data
print("First few rows of wind_generation:")
print(wind_generation.head())

First few rows of wind_generation:
        Entity Code  Year  Electricity from wind (TWh)
0  Afghanistan  AFG  2000                          0.0
1  Afghanistan  AFG  2001                          0.0
2  Afghanistan  AFG  2002                          0.0
3  Afghanistan  AFG  2003                          0.0
4  Afghanistan  AFG  2004                          0.0

In [48]:
print("\nInfo about wind_generation:")
print(wind_generation.info())

Info about wind_generation:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8676 entries, 0 to 8675
Data columns (total 4 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Entity                       8676 non-null   object
 1   Code                         7217 non-null   object
 2   Year                         8676 non-null   int64
 3   Electricity from wind (TWh)  8676 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 271.3+ KB
None

In [49]:
print("\nBasic statistics of wind_generation:")
print(wind_generation.describe())

Basic statistics of wind_generation:
              Year  Electricity from wind (TWh)
count  8676.000000                  8676.000000
mean   2000.344168                    14.571142
std      15.507389                    86.388161
min    1965.000000                     0.000000
25%    1990.000000                     0.000000
50%    2004.000000                     0.000000
75%    2013.000000                     0.059000
max    2022.000000                  1848.260000

In [50]:
print("\nBasic statistics of wind_generation:")
print(wind_generation.columns)

Basic statistics of wind_generation:
Index(['Entity', 'Code', 'Year', 'Electricity from wind (TWh)'], dtype='object')

In [51]:
print(wind_generation.isnull().sum())

wind_generation = wind_generation.dropna()

Entity                            0
Code                           1459
Year                              0
Electricity from wind (TWh)       0
dtype: int64

In [52]:
print(wind_generation.dtypes)

Entity                          object
Code                            object
Year                             int64
Electricity from wind (TWh)    float64
dtype: object

In [53]:
# Explore cumulative_installed_wind_capacity data
print("First few rows of cumulative_installed_wind_capacity:")
print(cumulative_installed_wind_capacity.head())

First few rows of cumulative_installed_wind_capacity:
   Entity Code  Year  Wind Capacity
0  Africa  NaN  1997        0.00600
1  Africa  NaN  1998        0.01000
2  Africa  NaN  1999        0.06400
3  Africa  NaN  2000        0.13905
4  Africa  NaN  2001        0.13905

In [54]:
print("\nInfo about cumulative_installed_wind_capacity:")
print(cumulative_installed_wind_capacity.info())

Info about cumulative_installed_wind_capacity:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1540 entries, 0 to 1539
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Entity         1540 non-null   object
 1   Code           1143 non-null   object
 2   Year           1540 non-null   int64
 3   Wind Capacity  1540 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 48.3+ KB
None

In [55]:
print("\nBasic statistics of cumulative_installed_wind_capacity:")
print(cumulative_installed_wind_capacity.describe())

Basic statistics of cumulative_installed_wind_capacity:
              Year  Wind Capacity
count  1540.000000    1540.000000
mean   2009.068182      19.822411
std       7.187177      63.736134
min    1995.000000       0.000000
25%    2003.000000       0.082000
50%    2009.000000       0.941650
75%    2015.000000       6.096985
max    2021.000000     824.874060

In [56]:
print("\nBasic statistics of cumulative_installed_wind_capacity:")
print(cumulative_installed_wind_capacity.columns)

Basic statistics of cumulative_installed_wind_capacity:
Index(['Entity', 'Code', 'Year', 'Wind Capacity'], dtype='object')

In [57]:
print(cumulative_installed_wind_capacity.isnull().sum())

cumulative_installed_wind_capacity = cumulative_installed_wind_capacity.dropna()

Entity             0
Code             397
Year               0
Wind Capacity      0
dtype: int64

In [58]:
print(cumulative_installed_wind_capacity.dtypes)

Entity            object
Code              object
Year               int64
Wind Capacity    float64
dtype: object

In [59]:
# Explore wind_share_energy data
print("First few rows of wind_share_energy:")
print(wind_share_energy.head())

First few rows of wind_share_energy:
   Entity Code  Year  Wind (% equivalent primary energy)
0  Africa  NaN  1965                                 0.0
1  Africa  NaN  1966                                 0.0
2  Africa  NaN  1967                                 0.0
3  Africa  NaN  1968                                 0.0
4  Africa  NaN  1969                                 0.0

In [60]:
print("\nInfo about wind_share_energy:")
print(wind_share_energy.info())

Info about wind_share_energy:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5445 entries, 0 to 5444
Data columns (total 4 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Entity                              5445 non-null   object
 1   Code                                4230 non-null   object
 2   Year                                5445 non-null   int64
 3   Wind (% equivalent primary energy)  5445 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 170.3+ KB
None

In [61]:
print("\nBasic statistics of wind_share_energy:")
print(wind_share_energy.describe())

Basic statistics of wind_share_energy:
              Year  Wind (% equivalent primary energy)
count  5445.000000                         5445.000000
mean   1994.368595                            0.440741
std      16.180258                            1.533420
min    1965.000000                            0.000000
25%    1981.000000                            0.000000
50%    1995.000000                            0.000000
75%    2008.000000                            0.052514
max    2021.000000                           24.614344

In [62]:
print("\nBasic statistics of wind_share_energy:")
print(wind_share_energy.columns)

Basic statistics of wind_share_energy:
Index(['Entity', 'Code', 'Year', 'Wind (% equivalent primary energy)'], dtype='object')

In [63]:

print(wind_share_energy.isnull().sum())

wind_share_energy = wind_share_energy.dropna()

Entity                                   0
Code                                  1215
Year                                     0
Wind (% equivalent primary energy)       0
dtype: int64

In [64]:
print(wind_share_energy.dtypes)

Entity                                 object
Code                                   object
Year                                    int64
Wind (% equivalent primary energy)    float64
dtype: object

In [65]:
# Explore wind_share_energy data
print("First few rows of wind_share_energy:")
print(wind_share_energy.head())

First few rows of wind_share_energy:
      Entity Code  Year  Wind (% equivalent primary energy)
114  Algeria  DZA  1965                                 0.0
115  Algeria  DZA  1966                                 0.0
116  Algeria  DZA  1967                                 0.0
117  Algeria  DZA  1968                                 0.0
118  Algeria  DZA  1969                                 0.0

In [66]:
print("\nInfo about wind_share_energy:")
print(wind_share_energy.info())

Info about wind_share_energy:
<class 'pandas.core.frame.DataFrame'>
Index: 4230 entries, 114 to 5444
Data columns (total 4 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Entity                              4230 non-null   object
 1   Code                                4230 non-null   object
 2   Year                                4230 non-null   int64
 3   Wind (% equivalent primary energy)  4230 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 165.2+ KB
None

In [67]:
print("\nBasic statistics of wind_share_energy:")
print(wind_share_energy.describe())

Basic statistics of wind_share_energy:
              Year  Wind (% equivalent primary energy)
count  4230.000000                         4230.000000
mean   1994.258865                            0.457043
std      16.305066                            1.669765
min    1965.000000                            0.000000
25%    1980.000000                            0.000000
50%    1995.000000                            0.000000
75%    2008.000000                            0.032613
max    2021.000000                           24.614344

In [68]:
print("\nBasic statistics of wind_share_energy:")
print(wind_share_energy.columns)

Basic statistics of wind_share_energy:
Index(['Entity', 'Code', 'Year', 'Wind (% equivalent primary energy)'], dtype='object')

In [69]:
print(wind_share_energy.isnull().sum())

wind_share_energy = wind_share_energy.dropna()

Entity                                0
Code                                  0
Year                                  0
Wind (% equivalent primary energy)    0
dtype: int64

In [70]:
print(wind_share_energy.dtypes)

Entity                                 object
Code                                   object
Year                                    int64
Wind (% equivalent primary energy)    float64
dtype: object

In [71]:
# Explore share_electricity_wind data
print("First few rows of share_electricity_wind:")
print(share_electricity_wind.head())

First few rows of share_electricity_wind:
        Entity Code  Year  Wind (% electricity)
0  Afghanistan  AFG  2000                   0.0
1  Afghanistan  AFG  2001                   0.0
2  Afghanistan  AFG  2002                   0.0
3  Afghanistan  AFG  2003                   0.0
4  Afghanistan  AFG  2004                   0.0

In [72]:
print("\nInfo about share_electricity_wind:")
print(share_electricity_wind.info())

Info about share_electricity_wind:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6871 entries, 0 to 6870
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Entity                6871 non-null   object
 1   Code                  5781 non-null   object
 2   Year                  6871 non-null   int64
 3   Wind (% electricity)  6871 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 214.8+ KB
None

In [73]:
print("\nBasic statistics of share_electricity_wind:")
print(share_electricity_wind.describe())

Basic statistics of share_electricity_wind:
              Year  Wind (% electricity)
count  6871.000000           6871.000000
mean   2006.532091              1.358413
std       9.626237              4.443913
min    1985.000000              0.000000
25%    2000.000000              0.000000
50%    2007.000000              0.000000
75%    2014.000000              0.325835
max    2022.000000             56.839542

In [74]:
print("\nBasic statistics of share_electricity_wind:")
print(share_electricity_wind.columns)

Basic statistics of share_electricity_wind:
Index(['Entity', 'Code', 'Year', 'Wind (% electricity)'], dtype='object')

In [75]:
print(share_electricity_wind.isnull().sum())

share_electricity_wind = share_electricity_wind.dropna()

Entity                     0
Code                    1090
Year                       0
Wind (% electricity)       0
dtype: int64

In [76]:
print(share_electricity_wind.dtypes)

Entity                   object
Code                     object
Year                      int64
Wind (% electricity)    float64
dtype: object

In [77]:
# Explore solar_energy_consumption data
print("First few rows of solar_energy_consumption:")
print(solar_energy_consumption.head())

First few rows of solar_energy_consumption:
        Entity Code  Year  Electricity from solar (TWh)
0  Afghanistan  AFG  2000                           0.0
1  Afghanistan  AFG  2001                           0.0
2  Afghanistan  AFG  2002                           0.0
3  Afghanistan  AFG  2003                           0.0
4  Afghanistan  AFG  2004                           0.0

In [78]:
print("\nInfo about solar_energy_consumption:")
print(solar_energy_consumption.info())

Info about solar_energy_consumption:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8683 entries, 0 to 8682
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Entity                        8683 non-null   object
 1   Code                          7227 non-null   object
 2   Year                          8683 non-null   int64
 3   Electricity from solar (TWh)  8683 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 271.5+ KB
None

In [79]:
print("\nBasic statistics of solar_energy_consumption:")
print(solar_energy_consumption.describe())

Basic statistics of solar_energy_consumption:
              Year  Electricity from solar (TWh)
count  8683.000000                   8683.000000
mean   2000.375677                      5.277942
std      15.495957                     40.098862
min    1965.000000                      0.000000
25%    1990.000000                      0.000000
50%    2004.000000                      0.000000
75%    2013.000000                      0.010000
max    2022.000000                   1040.500000

In [80]:
print("\nBasic statistics of solar_energy_consumption:")
print(solar_energy_consumption.columns)

Basic statistics of solar_energy_consumption:
Index(['Entity', 'Code', 'Year', 'Electricity from solar (TWh)'], dtype='object')

In [81]:
print(solar_energy_consumption.isnull().sum())

solar_energy_consumption = solar_energy_consumption.dropna()

Entity                             0
Code                            1456
Year                               0
Electricity from solar (TWh)       0
dtype: int64

In [82]:
print(solar_energy_consumption.dtypes)

Entity                           object
Code                             object
Year                              int64
Electricity from solar (TWh)    float64
dtype: object

In [83]:
# Explore installed_solar_PV_capacity data
print("First few rows of installed_solar_PV_capacity:")
print(installed_solar_PV_capacity.head())

First few rows of installed_solar_PV_capacity:
   Entity Code  Year  Solar Capacity
0  Africa  NaN  1996        0.001112
1  Africa  NaN  1997        0.003137
2  Africa  NaN  1998        0.005162
3  Africa  NaN  1999        0.008199
4  Africa  NaN  2000        0.010927

In [84]:
print("\nInfo about installed_solar_PV_capacity:")
print(installed_solar_PV_capacity.info())

Info about installed_solar_PV_capacity:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1659 entries, 0 to 1658
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Entity          1659 non-null   object
 1   Code            1243 non-null   object
 2   Year            1659 non-null   int64
 3   Solar Capacity  1659 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 52.0+ KB
None

In [85]:
print("\nBasic statistics of installed_solar_PV_capacity:")
print(installed_solar_PV_capacity.describe())

Basic statistics of installed_solar_PV_capacity:
              Year  Solar Capacity
count  1659.000000     1659.000000
mean   2008.534057       12.335430
std       7.487538       54.710200
min    1996.000000        0.000000
25%    2002.000000        0.001026
50%    2009.000000        0.061000
75%    2015.000000        1.924880
max    2021.000000      843.086060

In [86]:
print("\nBasic statistics of installed_solar_PV_capacity:")
print(installed_solar_PV_capacity.columns)

Basic statistics of installed_solar_PV_capacity:
Index(['Entity', 'Code', 'Year', 'Solar Capacity'], dtype='object')

In [87]:

print(installed_solar_PV_capacity.isnull().sum())

installed_solar_PV_capacity = installed_solar_PV_capacity.dropna()

Entity              0
Code              416
Year                0
Solar Capacity      0
dtype: int64

In [88]:
print(installed_solar_PV_capacity.dtypes)

Entity             object
Code               object
Year                int64
Solar Capacity    float64
dtype: object

In [89]:
# Explore solar_share_energy data
print("First few rows of solar_share_energy:")
print(solar_share_energy.head())

First few rows of solar_share_energy:
   Entity Code  Year  Solar (% equivalent primary energy)
0  Africa  NaN  1971                                  0.0
1  Africa  NaN  1972                                  0.0
2  Africa  NaN  1973                                  0.0
3  Africa  NaN  1974                                  0.0
4  Africa  NaN  1975                                  0.0

In [90]:
print("\nInfo about solar_share_energy:")
print(solar_share_energy.info())

Info about solar_share_energy:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5442 entries, 0 to 5441
Data columns (total 4 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Entity                               5442 non-null   object
 1   Code                                 4230 non-null   object
 2   Year                                 5442 non-null   int64
 3   Solar (% equivalent primary energy)  5442 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 170.2+ KB
None

In [91]:
print("\nBasic statistics of solar_share_energy:")
print(solar_share_energy.describe())

Basic statistics of solar_share_energy:
              Year  Solar (% equivalent primary energy)
count  5442.000000                          5442.000000
mean   1994.385888                             0.129722
std      16.168541                             0.475133
min    1965.000000                             0.000000
25%    1981.000000                             0.000000
50%    1995.000000                             0.000000
75%    2008.000000                             0.003650
max    2021.000000                             5.999280

In [92]:
print("\nBasic statistics of solar_share_energy:")
print(solar_share_energy.columns)

Basic statistics of solar_share_energy:
Index(['Entity', 'Code', 'Year', 'Solar (% equivalent primary energy)'], dtype='object')

In [93]:
print(solar_share_energy.isnull().sum())

solar_share_energy = solar_share_energy.dropna()

Entity                                    0
Code                                   1212
Year                                      0
Solar (% equivalent primary energy)       0
dtype: int64

In [94]:

print(solar_share_energy.dtypes)

Entity                                  object
Code                                    object
Year                                     int64
Solar (% equivalent primary energy)    float64
dtype: object

In [95]:
# Explore share_electricity_solar data
print("First few rows of share_electricity_solar:")
print(share_electricity_solar.head())

First few rows of share_electricity_solar:
        Entity Code  Year  Solar (% electricity)
0  Afghanistan  AFG  2000                    0.0
1  Afghanistan  AFG  2001                    0.0
2  Afghanistan  AFG  2002                    0.0
3  Afghanistan  AFG  2003                    0.0
4  Afghanistan  AFG  2004                    0.0

In [96]:
print("\nInfo about share_electricity_solar:")
print(share_electricity_solar.info())

Info about share_electricity_solar:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6871 entries, 0 to 6870
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Entity                 6871 non-null   object
 1   Code                   5781 non-null   object
 2   Year                   6871 non-null   int64
 3   Solar (% electricity)  6871 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 214.8+ KB
None

In [97]:
print("\nBasic statistics of share_electricity_solar:")
print(share_electricity_solar.describe())

Basic statistics of share_electricity_solar:
              Year  Solar (% electricity)
count  6871.000000            6871.000000
mean   2006.532091               0.580498
std       9.626237               2.009424
min    1985.000000               0.000000
25%    2000.000000               0.000000
50%    2007.000000               0.000000
75%    2014.000000               0.062003
max    2022.000000              40.000000

In [98]:
print("\nBasic statistics of biofuel_production:")
print(share_electricity_solar.columns)

Basic statistics of biofuel_production:
Index(['Entity', 'Code', 'Year', 'Solar (% electricity)'], dtype='object')

In [99]:

print(share_electricity_solar.isnull().sum())

share_electricity_solar = share_electricity_solar.dropna()

Entity                      0
Code                     1090
Year                        0
Solar (% electricity)       0
dtype: int64

In [100]:
print(share_electricity_solar.dtypes)

Entity                    object
Code                      object
Year                       int64
Solar (% electricity)    float64
dtype: object

In [101]:
# Explore biofuel_production data
print("First few rows of biofuel_production:")
print(biofuel_production.head())

First few rows of biofuel_production:
        Entity Code  Year  Biofuels Production - TWh - Total
0  Africa (BP)  NaN  1990                           0.068617
1  Africa (BP)  NaN  1991                           0.068617
2  Africa (BP)  NaN  1992                           0.068805
3  Africa (BP)  NaN  1993                           0.068617
4  Africa (BP)  NaN  1994                           0.068617

In [102]:
print("\nInfo about biofuel_production:")
print(biofuel_production.info())

Info about biofuel_production:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1081 entries, 0 to 1080
Data columns (total 4 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Entity                             1081 non-null   object
 1   Code                               800 non-null    object
 2   Year                               1081 non-null   int64
 3   Biofuels Production - TWh - Total  1081 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 33.9+ KB
None

In [103]:
print("\nBasic statistics of biofuel_production:")
print(biofuel_production.describe())

Basic statistics of biofuel_production:
              Year  Biofuels Production - TWh - Total
count  1081.000000                        1081.000000
mean   2005.830712                          56.543887
std       9.197525                         138.262878
min    1990.000000                           0.000000
25%    1998.000000                           0.000000
50%    2006.000000                           3.642700
75%    2014.000000                          32.786575
max    2021.000000                        1114.488300

In [104]:
print("\nBasic statistics of biofuel_production:")
print(biofuel_production.columns)

Basic statistics of biofuel_production:
Index(['Entity', 'Code', 'Year', 'Biofuels Production - TWh - Total'], dtype='object')

In [105]:
print(biofuel_production.isnull().sum())

biofuel_production = biofuel_production.dropna()

Entity                                 0
Code                                 281
Year                                   0
Biofuels Production - TWh - Total      0
dtype: int64

In [106]:
print(biofuel_production.dtypes)

Entity                                object
Code                                  object
Year                                   int64
Biofuels Production - TWh - Total    float64
dtype: object

In [107]:
# Explore solar_share_energy data
print("First few rows of solar_share_energy:")
print(solar_share_energy.head())

First few rows of solar_share_energy:
      Entity Code  Year  Solar (% equivalent primary energy)
102  Algeria  DZA  1965                                  0.0
103  Algeria  DZA  1966                                  0.0
104  Algeria  DZA  1967                                  0.0
105  Algeria  DZA  1968                                  0.0
106  Algeria  DZA  1969                                  0.0

In [108]:
print("\nInfo about solar_share_energy:")
print(solar_share_energy.info())

Info about solar_share_energy:
<class 'pandas.core.frame.DataFrame'>
Index: 4230 entries, 102 to 5441
Data columns (total 4 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Entity                               4230 non-null   object
 1   Code                                 4230 non-null   object
 2   Year                                 4230 non-null   int64
 3   Solar (% equivalent primary energy)  4230 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 165.2+ KB
None

In [109]:
print("\nBasic statistics of solar_share_energy:")
print(solar_share_energy.describe())

Basic statistics of solar_share_energy:
              Year  Solar (% equivalent primary energy)
count  4230.000000                          4230.000000
mean   1994.258865                             0.128135
std      16.305066                             0.494454
min    1965.000000                             0.000000
25%    1980.000000                             0.000000
50%    1995.000000                             0.000000
75%    2008.000000                             0.002186
max    2021.000000                             5.999280

In [110]:
print("\nBasic statistics of solar_share_energy:")
print(solar_share_energy.columns)

Basic statistics of solar_share_energy:
Index(['Entity', 'Code', 'Year', 'Solar (% equivalent primary energy)'], dtype='object')

In [111]:

print(solar_share_energy.isnull().sum())

solar_share_energy = solar_share_energy.dropna()

Entity                                 0
Code                                   0
Year                                   0
Solar (% equivalent primary energy)    0
dtype: int64

In [112]:
print(solar_share_energy.dtypes)

Entity                                  object
Code                                    object
Year                                     int64
Solar (% equivalent primary energy)    float64
dtype: object

In [113]:
# Explore geotermal_capacity data
print("First few rows of geotermal_capacity:")
print(geotermal_capacity.head(15))

First few rows of geotermal_capacity:
    Entity Code  Year  Geothermal Capacity
0   Africa  NaN  1990                 45.0
1   Africa  NaN  1995                 45.0
2   Africa  NaN  2000                 65.3
3   Africa  NaN  2001                 65.3
4   Africa  NaN  2002                 65.3
5   Africa  NaN  2003                 65.3
6   Africa  NaN  2004                135.3
7   Africa  NaN  2005                135.3
8   Africa  NaN  2006                135.3
9   Africa  NaN  2007                135.3
10  Africa  NaN  2008                135.3
11  Africa  NaN  2009                170.3
12  Africa  NaN  2010                205.3
13  Africa  NaN  2011                205.3
14  Africa  NaN  2012                212.8

In [114]:
print("\nInfo about geotermal_capacity:")
print(geotermal_capacity.info(0))

Info about geotermal_capacity:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 758 entries, 0 to 757
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Entity               758 non-null    object
 1   Code                 576 non-null    object
 2   Year                 758 non-null    int64
 3   Geothermal Capacity  758 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 23.8+ KB
None

In [115]:
print("\nBasic statistics of geotermal_capacity:")
print(geotermal_capacity.describe())

Basic statistics of geotermal_capacity:
              Year  Geothermal Capacity
count   758.000000           758.000000
mean   2008.449868           919.938545
std       7.770961          1948.331585
min    1975.000000             0.000000
25%    2003.000000            16.300000
50%    2009.000000           145.000000
75%    2015.000000           818.250000
max    2020.000000         14075.000000

In [116]:
print("\nBasic statistics of geotermal_capacity:")
print(geotermal_capacity.columns)

Basic statistics of geotermal_capacity:
Index(['Entity', 'Code', 'Year', 'Geothermal Capacity'], dtype='object')

In [117]:

print(geotermal_capacity.isnull().sum())

geotermal_capacity = geotermal_capacity.dropna()

Entity                   0
Code                   182
Year                     0
Geothermal Capacity      0
dtype: int64

In [118]:
print(geotermal_capacity.dtypes)

Entity                  object
Code                    object
Year                     int64
Geothermal Capacity    float64
dtype: object